/* スタイルリセット */
html, body, div, img {
    margin: 0;
    padding: 0;
}

.image-height {
    text-align:center;
    height:500px
}

/* 画像コンテナ */
.image-container {
    text-align: center; 
    padding: 0px;
}

/* スマートフォン用のスタイル */
@media (max-width: 599px) {
    .image-container {
        max-width: 100%;
        margin: auto; /* 水平方向に中央に配置 */
        display: block;
    }

    .text-container {
        white-space: nowrap; /* テキストが折り返さないように設定 */
        overflow-wrap: break-word; /* 長い単語やURLがテキストボックス外にはみ出すのを防ぎ、適切に改行 */
    }

    .links-container {
        flex-direction: column; /* 縦並びに変更 */
        align-items: center; /* 中央に配置 */
        text-size-adjust:auto ;
    }
}

.scrolling-element {
    width: 100%; /* 画面幅に合わせる */
    overflow-x: hidden; /* 横スクロールを非表示に */
}

/* 他の要素のスタイルも調整 */
.container {
    padding: 10px; 
}

/*リンク*/

.links-container {
    display: flex; /* 横並びにする */
    justify-content: center; /* 中央に配置 */
    flex-wrap: nowrap; /* 横方向の折り返しを防止 */
    font-size: 24px;
}

/* 各リンク */
.links-container a {
    text-decoration: none; /* リンクの下線を非表示 */
    color: black;
    margin: 20px; /* リンクの間隔を設定 */
    padding: 10px 20px; /* リンクのパディングを設定 */
    /*border: 1px solid #000;  ボーダーを追加 */
    position: relative;
}

.links-container a:hover {
    animation: vibrate 0.2s ease infinite;
}

.rainbowText {
    animation: rainbowText 2s ease infinite; 
}

/* リンクホバー時のエフェクト */
@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-2px, -2px);
    }

    50% {
        transform: translate(2px, 2px);
    }

    75% {
        transform: translate(-2px, 2px);
    }

    100% {
        transform: translate(2px, -2px);
    }
}

@keyframes rainbowText {
    0% {
        color: red;
    }

    14% {
        color: orange;
    }

    28% {
        color: yellow;
    }

    42% {
        color: green;
    }

    57% {
        color: blue;
    }

    71% {
        color: indigo;
    }

    85% {
        color: violet;
    }

    100% {
        color: red;
    }
}

.sasaki {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    transform-origin: center;
    transition: transform .2s;
}

/* クリック時のスタイル */


.sasaki.scale {
    transform: scale(1,-0.01);
}