/* スタイルリセット */
html, body, div, img {
    margin: 0;
    padding: 0;
    text-align:center;
}

/* 画像コンテナ */
.image-container {
    text-align: center; /* 画像を中央に配置 */
}

/* 画像 */
img {
    max-width: 100%; /* 画像の幅を100%に設定 */
    height: auto; /* アスペクト比を維持 */
    display: block; /* 不要な空白を削除 */
    margin: 0 auto; /* 水平方向に中央に配置 */
    max-height: 100vh; /* 画像の高さをビューポートの高さに合わせる */
}

/* スマートフォンやタブレット用のスタイル */
@media (max-width: 768px) { /* 768px未満の場合に適用 */
    body {
        font-size: 16px; /*フォントサイズを16pxに設定 */
    }

    h1 {
        font-size: 24px; /*見出しのフォントサイズを24pxに設定 */
    }

    /* p {
        font-size: 14px;  
    }段落のフォントサイズを14pxに設定する場合 */


    .image-container {
        width: 70%; /* 画像コンテナの幅を70%に設定 */
        margin: 0 auto; /* 水平方向に中央に配置 */
    }
}

.scrolling-element {
    width: 100%; /* 画面幅に合わせる */
    overflow-x: hidden; /* 横スクロールを非表示に */
}

/* 他の要素のスタイルも調整 */
.container {
    padding: 10px; /* 例：コンテナ内の余白を調整 */
}