/* スタイルリセット */
html, body, div, img {
    margin: 0;
    padding: 0;
}

.centralize {
    text-align:center;
}

/* 画像コンテナ */
.image-container {
    text-align: center; /* 画像を中央に配置 */
}

/* 画像 */
img {
    max-width: 100%; /* 画像の幅を100%に設定 */
    height: auto; /* アスペクト比を維持 */
    display: block; /* 不要な空白を削除 */
    margin: 0 auto; /* 水平方向に中央に配置 */
    max-height: 100vh; /* 画像の高さをビューポートの高さに合わせる */
}

/* スマートフォンやタブレット用のスタイル */
@media (max-width: 768px) { /* 768px未満の場合に適用 */
    body {
        font-size: 64px; /*フォントサイズを16pxに設定 */
    }

    h1 {
        font-size: 128px; /*見出しのフォントサイズを24pxに設定 */
    }

    /* p {
        font-size: 14px;  
    }段落のフォントサイズを14pxに設定する場合 */


    .image-container {
        max-width: 100%;
        margin: auto; /* 水平方向に中央に配置 */
        display: block;
    }

    .text-container {
        white-space: nowrap; /* テキストが折り返さないように設定 */
        overflow-wrap: break-word; /* 長い単語やURLがテキストボックス外にはみ出すのを防ぎ、適切に改行 */
    }

    .links-container {
        flex-direction: column; /* 縦並びに変更 */
        align-items: center; /* 中央に配置 */
        text-size-adjust:auto ;
    }
}

.scrolling-element {
    width: 100%; /* 画面幅に合わせる */
    overflow-x: hidden; /* 横スクロールを非表示に */
}

/* 他の要素のスタイルも調整 */
.container {
    padding: 10px; /* 例：コンテナ内の余白を調整 */
}

/*リンク*/

.links-container {
    display: flex; /* 横並びにする */
    justify-content: center; /* 中央に配置 */
    flex-wrap: nowrap; /* 横方向の折り返しを防止 */
}

/* 各リンク */
.links-container a {
    text-decoration: none; /* リンクの下線を非表示 */
    text-decoration-color: black;
    margin: 20px; /* リンクの間隔を設定 */
    padding: 10px 20px; /* リンクのパディングを設定 */
    border: 1px solid #000; /* ボーダーを追加 */
    position: relative;
}

/* リンクホバー時のエフェクト */
@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-2px, -2px);
    }

    50% {
        transform: translate(2px, 2px);
    }

    75% {
        transform: translate(-2px, 2px);
    }

    100% {
        transform: translate(2px, -2px);
    }
}